<h2 mat-dialog-title>Add Todo</h2>
<mat-dialog-content>
    <form class="todo-form" [formGroup]="todoForm">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" type="text" 
            placeholder="Enter title">
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onDialogCancel()">Cancel</button>
    <button mat-button (click)="onDialogAdd()" cdkFocusInitial>Add</button>
</mat-dialog-actions>