.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-width{
    width: 100%;
    margin-bottom: 16px;
}

button {
    margin: 0.5em;
}

.login-form{
    flex-direction: column;
    display: flex;
    gap: 16px;
}