.example-card {
  max-width: 400px;
  margin: 0.5em;
  background-color: beige;
}

.example-card-dark {
    max-width: 400px;
    margin: 0.5em;
    background-color: gainsboro;
}

.example-card-footer {
  padding: 16px;
}

.padding {
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: row;
}